body {
    font-size: 14px;
    font-family: Segoe UI;
    font-weight: 400;
    word-wrap: break-word
}

.page {
    width: 1300px;
    min-width:1300px;
    height: 100%;
    position: relative;
    background: white;
    margin-bottom:30px;
}

.company_logo {
    width: 120px;
    height: 120px;
    left: 20px;
    top: 30px;
    position: absolute;
}

.company_name {
    width: 100%;
    height: 24px;
    left: 200px;
    top: 101px;
    position: absolute;
    color: #2E2E2E;
    font-size: 24px;
    font-weight:700;
}

.report_title {
    width: 100%;
    height: 18px;
    left: 201px;
    top: 130px;
    font-size: 14px;
    position: absolute;
}

.tab_header {
    width: 450px;
    left: 21px;
    margin-bottom:8px;
    position: relative
}

.sub_tab_header {
    width: 450px;
    margin-bottom: 8px;
    position: relative
}

.tab_indent {
    width: 160px;
    height: 5px;
    left: 0px;
    top: 10px;
    position: absolute;
    background: #5BB73B
}

.report_tab_name {
    left: 180px;
    top: 0px;
    position: relative;
    color: #2E2E2E;
    font-size: 18px;
    font-weight: 700;
}

.sub_tab_indent {
    width: 80px;
    height: 5px;
    left:-100px;
    top:3px;
    position: absolute;
    color: #2E2E2E;
    margin-top:10px;
    background: #5BB73B
}

.report_subtab_name {
    left: 100px;
    position: relative;
    color: #2E2E2E;
    top: 5px;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
}

.tab_content {
    width: 975px;
    left: 21px;
    height: 100%;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
    position: relative;
}

.image_title {
    position: absolute;
    font-style: italic;
    top: 100px;
    height: 20px;
}

.report_content {
    position: relative;
}

.table_view {    
    margin:-1px 10px 10px -1px;
    border-collapse: collapse;
    white-space: nowrap;
}

.table_view tr:nth-child(odd) {
    background: rgba(193.41, 193.41, 193.41, 0.30);
}

.param_table tr:nth-child(odd) {
    background: rgba(193.41, 193.41, 193.41, 0.30);    
}